---
---
<div class="flex flex-col gap-2">
    <a href="/config">Config</a>
    <a href="/overlay-config">Overlay Config</a>
    <a href="/panel">Panel</a>
    <a href="/mobile">Mobile</a>
    <a href="/overlay">Overlay</a>
</div>
